<nav aria-label="Main navigation">
        <div id="slicknav_menu"></div>
        <ul id="menu">
        {% for item in nav %}
            <li><a href="{{ item.url }}"
            {% if page.url == item.url %}
            aria-current="page"
            {% endif %}>
            {{ item.label }}
            </a></li>
            {% endfor %}
        </ul>
</nav>